<div class="card">
 
  <div class="card-body"  >
    <h4 class="card-title" >{{product.name}}</h4>
<ul  class="list-group">
  <li class="list-group-item">ID: {{product.id}} </li>
    <li class="list-group-item">Price: {{product.price}}฿</li> 
    <li class="list-group-item">Amount: {{product.amount}}</li>
    <li class="list-group-item">Rate: {{product.amount}} </li>
  </ul>
  Description: {{product.description}}
  </div> 
   <div class="image">
  <img class="card-img-top" [src]=product.image alt="Card image">
  </div>
  
 
</div>