<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading ">Products</div>
	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>N-</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of products" >
				<td>{{product.id}}</td>
				<td>{{product.name}}</td>
				<td>{{product.description| limitTo :50 }}</td>
				<td>{{product.price}}</td>
				<button class="btn btn-primary" (click)="showInfo(product)">Detail</button>
			</tr>

		</tbody>
	</table>
</div>