<div style="width: 50%; margin: auto;">
<form >
<h3>Add Product</h3>
<div class="form-group">
	<input   type="text" class="form-control" id="name" name="name" placeholder="Product name" required>

</div>
<div class="form-group">
	<textarea type="text" class="form-control" id="description" name="description" placeholder="description" required ></textarea>
</div>

<div class="form-group input-group">		
	<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Price">
	<span class="input-group-addon">฿</span>
</div>
<div class="form-group">
	<input   type="text" class="form-control" id="name" name="name" placeholder="Amount" required>

</div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Picture</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>
<button type="reset" class="btn btn-warning m-*-2">Reset</button>
</form>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <img class="card-img-top" src="./assets/image/no-image-available.jpg" style="width: 50%; " alt="Card image cap">
  <div class="card-body"  style="width: 45%; float: right;" >
    <h4 class="card-title" >Card title</h4>
<ul  class="list-group">
  <li class="list-group-item">ID: </li>
    <li class="list-group-item">Price: </li> 
    <li class="list-group-item">Amount: </li>
    <li class="list-group-item">Rate: </li>
  </ul>
 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
  </div> 
  
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>