<div class="container">
<ul class="nav nav-pills">
    <a class="navbar-brand glyphicon glyphicon-shopping-cart" href="#" >SE331_Shopping</a>
  
  <li role="presentation" routerLinkActive="active"><a routerLink="/add">Add Product</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/product">Show All Product</a></li>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>

</ul>


<div class="jumbotron">
<router-outlet></router-outlet>
</div>
</div>